@font-face {
  font-family: 'Aileron';
  src: url('public/_assets/fonts/Aileron-Regular.woff2') format('woff2'),
    url('public/_assets/fonts/Aileron-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('public/_assets/fonts/Aileron-Bold.woff2') format('woff2'),
    url('public/_assets/fonts/Aileron-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('public/_assets/fonts/TiemposText-Regular.woff2') format('woff2'),
    url('public/_assets/fonts/TiemposText-Regular.woff') format('woff');
  font-weight: regular;
  font-style: regular;
}
